.MainPage{
    text-align:center;
    margin-left: 20px;
    align-content: center;
}
.Form {
    display:flex;
    flex-direction: column;
    align-items: center;
  }
.blog-preview {
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
    font-size: 25px;
    margin-bottom: 8px;
}
.blog-preview p {
    font-size: 15px;
    font-style: italic;
}
.QShow {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.QButton{
    margin: 10px;
}